<section id="contact" class="py-5 bg-light">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8">
                <h2 class="fw-bold">{{ .Site.Data.index.contact.title }}</h2>
                <p class="lead">{{ .Site.Data.index.contact.subtitle }}</p>
                <a href="mailto:{{ .Site.Data.index.contact.email.mailto }}" class="btn btn-primary btn-lg">{{ .Site.Data.index.contact.email.text }}</a>
            </div>
        </div>
    </div>
</section>
