<!DOCTYPE html>
<html lang="en-US">
{{ partial "partials/head.html" . }}
<body>
{{ partial "partials/header.html" . }}

{{ partial "partials/main.html" . }}

{{ partial "partials/about.html" . }}

{{ partial "partials/experience.html" . }}

{{ if .Site.Data.index.client.isEnabled }}
    {{ partial "partials/client.html" . }}
{{ end }}

{{ partial "partials/portfolio.html" . }}

{{ partial "partials/contact.html" . }}

{{ partial "partials/footer.html" . }}

<script language="javascript" type="text/javascript" src="{{ "js/bootstrap.bundle.min.js" | absURL }}"></script>
<script language="javascript" type="text/javascript" src="{{ "js/aos.min.js" | absURL }}"></script>
<script language="javascript" type="text/javascript" src="{{ "js/mixitup.min.js" | absURL }}"></script>
<script language="javascript" type="text/javascript" src="{{ "js/portfoliotags.js" | absURL }}"></script>
<script>
    AOS.init();
</script>
{{ range .Site.Params.js }}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
</body>
</html>